body{
    background-color:black;
    
  }
  .App {
    color: white;
    text-align: center;
    font-size: 50px;
    background-image: url('./Cads/images/GARDEN.jpg');
    position: fixed;
    background-repeat: no-repeat;
    margin-left: -10px;
    background-size: 1370px;
    width: 1400px;
    height: 200px;
    margin-top: -70px;
    
   
    
  }
  
  .happy{
    position: fixed;
    color: white;
    font-size: 15px;
    text-align: center;
    top: 0px;
  
    
  }
  
  .para{
    position:fixed;
    color: white;
    bottom: 370px;
    font-size: 20px;
  }
  
  .pictureone{
   
    position:fixed;
    margin-left: -15px;
    bottom: -1px;
  }
  
  .bio{
    position: fixed;
    right: 1050px;
    top: 270px;
    font-size: 20px;
    position:center;
    color: white;
  
  }
  
  .tables{
    position: fixed;
    left: 1000px;
    bottom: 5px;
  }
  
  .hour{
    position: fixed;
    font-size: 25px;
    color: white;
    left: 480px;
    bottom: 300px; 
    
  }
  
  .boerners{
    bottom: 280px;  
    left: 480px;
    color: white;
    font-size: 20px;
    POSITION: fixed;
  }
  
  .dusty{
    position: fixed;
    color: white;
    left: 480px;
    bottom: 240px;
  }
  
  .poof{
    position: fixed;
    color: white;
    left: 480px;
    bottom: 245px;
  }
  
  .error{
    position: fixed;
    color: white;
    left: 480px;
    bottom: 230px;
  }
  
  .mary{
    position: fixed;
    color: white;
    left: 480px;
    bottom: 200px;
  }
  
  .shoot{
    position: fixed;
    color: white;
    left: 480px;
    bottom: 185px;
  }
  
  .addy{
    position: fixed;
    left: 1130px;
    bottom: 330px;
    color: white;
    
  }
  .add{
    position: fixed;
    left: 1050px;
    bottom: 310px;
    color: white;
    
  }