.help {
    background: black;
}

.card{
    width: 15rem;
    left: 105px;   
    margin: 20px;
    
    
}
.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(250, 246, 246, 0.253) !important;
    
}
.card-body{
    padding:0.3 rem 0 !important;
    background-color: black;
}

.card-text{
    font-size: .9rem;
    padding: 0.3rem .2rem;
    
    
}

.container-fluid .row{
    padding-top: 1rem;
}

.overflow{
    overflow: visibility;
}
.card-img-top{
    transform: scale(1);
    transition: transform 0.5s ease;
    
}

.card-img-top:hover{
    transform: scale(1.8);
}

.btn{
    color: black;
    border-color: black;
    margin-bottom: 5px;

}
.btn:hover{
    box-shadow: 5px 10px 20px 1px rgba(250, 246, 246, 0.253) !important;
}

.card-title{
    color: white
}